{% extends 'base.html' %}
{% block title %} FH PMON {% endblock %}
{% block top_navbar_title %}
    <a class="navbar-brand ps-3" href="{{ url_for('fh_home_bp.home') }}"> RESEAU FH</a>
{% endblock %}
{% block side_nav_menu %}
     {% include 'menu_fh.html' %}
{% endblock %}
{% block side_nav_content %}
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <div class="row" style="margin-top:50px">

                    <div id="flash-message" class="alert alert-dismissible"
                         style="width:800px; margin:auto; margin-bottom:10px;"> </div>
                 </div>
                <div class="row">
                    <div class="col-xl-2">
                        <a href="#" class="btn btn-outline" data-bs-toggle="modal"
                                       data-bs-target="#pmonModal" style="margin-bottom:20px">
                                             Nouveau Fichier</a>

                        <!-- Extratc Modal -->
                        <div class="modal fade" id="pmonModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" style="max-width: 60%;" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="card shadow-lg border-0 rounded-lg">
                                        <div class="card-header"><h5 class="text-center font-weight-light my-4">New PMON File</h5></div>
                                        <div class="card-body">
                                            <div class="row">
                                                <form enctype=multipart/form-data id="uploadPMONForm">
                                                    <div class="input-group mb-3">
                                                          <label class="input-group-text" for="inputGroupFile01">PMON</label>
                                                          <input type="file" name="pmon_file" class="form-control" id="inputGroupFile01">
                                                    </div>
                                                    <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                        <a id="btnUploadPMON" class="btn btn-outline" data-bs-dismiss="modal">Enregistrer</a>
                                                    </div>
                                                </form>
                                            </div>
                                            <hr>
                                                <h4 class="text-center">PMON Extracts</h4>
                                            <hr>
                                            <div class="row">
                                                <table id="pmonExtracts" class="table table-striped table-hover" style="width:100%; margin:auto">
                                                    <thead>
                                                        <tr>
                                                            <td>Extracts</td>
                                                            <td>Action</td>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                    {% for index,row in df_pmon_files.iterrows()  %}
                                                            <tr>
                                                                <td>{{ row['CreationDate'] }}</td>
                                                                <td>
                                                                    <a href="#" onclick="delete_pmon_file(new Date('{{ row.CreationDate }}'));">
                                                                        <i class="fa fa-trash" aria-hidden="true"
                                                                       style="color:#ff7f00; width:20px; height:20px"
                                                                           ></i>
                                                                    </a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                    </div>
                    <div class="col-xl-2">
                         <div class="form-floating mb-3">
                                <select class="form-select"  id="uploadDate" name="uploadDate" aria-label="uploadDate">
                                     <option value="None"></option>
                                    {% for index,row in df_pmon_files.iterrows() %}
                                         <option value="{{ row.CreationDate }}">{{ row.CreationDate }}</option>
                                    {% endfor %}
                                </select>
                             <label for="uploadDate" class="form-label">Upload Date</label>
                        </div>
                    </div>
                    <div class="col-xl-2">
                         <div class="form-floating mb-3">
                                <select class="form-select"  id="pmonValueFilter" name="pmonValueFilter" aria-label="PMON Filter">
                                     <option value="None"></option>
                                     <option value="UAS">UAS != 0</option>
                                     <option value="SES">SES != 0</option>
                                     <option value="UASandSES">UAS & SES != 0</option>
                                    <option value="UASorSES">UAS ou SES != 0</option>
                                </select>
                             <label for="pmonValueFilter" class="form-label">PMON Value</label>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <div class="form-floating mb-3">
                                <select class="form-select"  id="OTN" name="OTN" aria-label="OTN">
                                     <option value="None"></option>
                                     <option value="Boutique">Boutique</option>
                                     <option value="Franchise">Franchise</option>
                                </select>
                             <label for="OTN" class="form-label">OTN</label>
                        </div>
                    </div>
                    <div class="col-xl-2">
                        <div class="form-floating mb-3">
                                <select class="form-select"  id="is_high_value" name="is_high_value" aria-label="High Value Filter">
                                     <option value="None"></option>
                                     <option value="OUI">OUI</option>
                                     <option value="NON">NON</option>
                                </select>
                             <label for="is_high_value" class="form-label">High Value</label>
                        </div>
                    </div>
                 </div>
                <div class="row">
                     <!-- Row Edit Modal -->
                        <div class="modal fade" id="editRowModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                              <div class="modal-dialog" style="max-width: 60%;" role="document">
                                <div class="modal-content">
                                  <div class="modal-header">
                                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                  </div>
                                  <div class="modal-body">
                                    <div class="card shadow-lg border-0 rounded-lg">
                                        <div class="card-header"><h5 class="text-center font-weight-light my-4">Modifier</h5></div>
                                        <div class="card-body">
                                            <form enctype=multipart/form-data id="editRSLForm">
                                                <div class="col">
                                                    <div class="input-group mb-3">
                                                        <label class="input-group-text" for="editName">Name</label>
                                                        <input class="form-control" type="text" name="editName" id="editName" disabled value="">
                                                    </div>
                                                    <div class="row">
                                                         <div class="col">
                                                             <div class="input-group mb-3">
                                                                <label class="input-group-text" for="editIP">IP</label>
                                                                <input class="form-control" type="text" name="editIP" id="editIP" disabled value="">
                                                            </div>
                                                         </div>
                                                        <div class="col">
                                                             <div class="form-floating mb-3">
                                                                    <select class="form-select"  id="editHighValue" name="editHighValue" aria-label="High Value">
                                                                         <option value="None"></option>
                                                                         <option value="OUI">OUI</option>
                                                                         <option value="NON">NON</option>
                                                                    </select>
                                                                 <label for="editHighValue" class="form-label">High Value</label>
                                                            </div>
                                                         </div>
                                                    </div>
                                                    <div class="input-group mb-3">
                                                        <label class="input-group-text" for="editComment">Comment</label>
                                                        <input class="form-control" type="text" name="editComment" id="editComment" value="">
                                                    </div>
                                                    <!-- hidden inputs -->
                                                    <input class="form-control" type="hidden" name="hiddenEditComment" id="hiddenEditComment" value="">
                                                    <input class="form-control" type="hidden" name="hiddenEditHighValue" id="hiddenEditHighValue" value="">
                                                    <!-- hidden inputs -->
                                                </div>
                                                <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                    <a id="btnEditPMON" class="btn btn-outline" data-bs-dismiss="modal">Update</a>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                        </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        PMON Table
                    </div>
                    <div class="card-body">
                        <table id="pmon_table" class="table table-striped table-hover">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>IP</th>
                                    <th>UAS</th>
                                    <th>ES</th>
                                    <th>BBE</th>
                                    <th>SES</th>
                                    <th>RSL Max</th>
                                    <th>RSL Min</th>
                                    <th>Comment</th>
                                    <th>High Value</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                            </tbody>
                        </table>
                        <input value=0 type="hidden" name="export_excel" id="export_excel">
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Orange Tunisia 2023</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
{% endblock %}

{% block scripts %}
  <script>

  function delete_pmon_file(date)
   {
      params = {"creation_date": date };
      $.ajax({
          type: 'POST',
          url: "{{ url_for('fh_pmon_bp.delete_pmon_file') }}?cache-bust=" + Date.now(),
          data: params,
          success: function(response) {
                var flashMessage = document.getElementById("flash-message");
                if (response.status == 'error') {
                     flashMessage.classList.add('alert-danger');
                     flashMessage.classList.remove('alert-success');
                } else {
                     flashMessage.classList.add('alert-success');
                     flashMessage.classList.remove('alert-danger');
                }

                flashMessage.innerHTML = response.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
                flashMessage.style.display = "block";
                // Dismiss the message after 3 seconds
                setTimeout(function() {
                    flashMessage.style.display = "none";
                }, 3000);
                location.reload();
            },
          error: function(xhr, status, error) {
                console.log(xhr.responseText);
                $('#flash-message').addClass('alert-danger').removeClass('alert-success').html('An error occurred. Please try again later.');
            }
        });
   }

  $(document).ready(function() {

      $("#pmonExtracts").DataTable({pageLength : 7,});

      $('#btnUploadPMON').click(function() {
          // Handle button click event here
           var formData = new FormData($('#uploadPMONForm')[0]);
           $.ajax({
              type: 'POST',
              url: "{{ url_for('fh_pmon_bp.pmon_upload') }}?cache-bust=" + Date.now(),
              data: formData,
              processData: false,
              contentType: false,
              success: function(response) {
                    var flashMessage = document.getElementById("flash-message");
                    if (response.status == 'error') {
                         flashMessage.classList.add('alert-danger');
                         flashMessage.classList.remove('alert-success');
                    } else {
                         flashMessage.classList.add('alert-success');
                         flashMessage.classList.remove('alert-danger');

                         flashMessage.innerHTML = response.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
                         flashMessage.style.display = "block";
                         // Dismiss the message after 3 seconds
                         setTimeout(function() {
                             flashMessage.style.display = "none";
                         }, 3000);
                         location.reload();
                    }

                    flashMessage.innerHTML = response.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
                    flashMessage.style.display = "block";
                    // Dismiss the message after 3 seconds
                    setTimeout(function() {
                        flashMessage.style.display = "none";
                    }, 3000);
                },
              error: function(xhr, status, error) {
                    console.log(xhr.responseText);
                    $('#flash-message').addClass('alert-danger').removeClass('alert-success').html('An error occurred. Please try again later.');
                }
            });
        });

        var pmon_table = $('#pmon_table').DataTable({
                                ajax: {
                                     url: "{{ url_for('fh_api_bp.get_pmon_data_table') }}",
                                     type: "GET",
                                     data: function ( d ) {
                                        d.uploadDate = $("#uploadDate").val(),
                                        d.pmonValueFilter = $("#pmonValueFilter").val(),
                                        d.OTN = $("#OTN").val(),
                                        d.is_high_value = $("#is_high_value").val(),
                                        d.export_excel = $("#export_excel").val()
                                        }
                                },
                                buttons: [
                                    {
                                        extend: 'excelHtml5',
                                        text: 'Export to Excel',
                                        filename: 'example',
                                        action: function(e, dt, button, config) {
                                            e.preventDefault();
                                            // Handle click event here
                                            $("#export_excel").val(1);
                                            $.ajax({
                                                url: "{{ url_for('fh_api_bp.get_pmon_data_table') }}",
                                                type: "GET",
                                                data: {
                                                    uploadDate: $("#uploadDate").val(),
                                                    pmonValueFilter: $("#pmonValueFilter").val(),
                                                    OTN: $("#OTN").val(),
                                                    is_high_value: $("#is_high_value").val(),
                                                    export_excel: $("#export_excel").val()
                                                    },
                                                success: function(response) {
                                                    url = "{{ url_for('radio_api_bp.export_radio_data', filepath='' )}}" ;
                                                    url = url.concat(response);
                                                    window.open(url,'_blank');
                                                    location.reload();
                                                }
                                            });
                                        }
                                    }
                                ],
                                dom: 'Bfrtip',
                                serverSide: true,
                                pageLength : 10,
                                lengthMenu: [[5, 10, 20], [5, 10, 20]],
                                responsive: true,
                                columns: [
                                  {data: 'Name'},
                                  {data: 'IP'},
                                  {data: 'UAS'},
                                  {data: 'ES'},
                                  {data: 'BBE'},
                                  {data: 'SES'},
                                  {data: 'RSL Max'},
                                  {data: 'RSL Min'},
                                  {data: 'Comments'},
                                  {data: 'High Value'},
                                  {
                                    data: null,
                                    render: function (data, type, row) {
                                        return '<button class="edit-button" style="border:None" data-id="' + data.IP + '"><i class="fa fa-pencil" style="color:#ff7f00; width:20px; height:20px"/></button>';
                                    }
                                  }
                                ]

                     });


     $("#uploadDate").change(function(){
        pmon_table.ajax.reload();
     });

     $("#OTN").change(function(){
        pmon_table.ajax.reload();
     });

     $("#is_high_value").change(function(){
        pmon_table.ajax.reload();
     });

     // table row edit
     $('#pmon_table tbody').on('click', '.edit-button', function() {
         var row = pmon_table.row($(this).closest('tr')).data();
         editRow(row);
     });

    function editRow(row) {
        $('#editName').val(row['Name']);
        $('#editIP').val(row['IP']);
        $('#editComment').val(row['Comment']);
        $('#hiddenEditComment').val(row['Comment']);
        $('#editHighValue').val(row['High Value']);
        $('#hiddenEditHighValue').val(row['High Value']);

        $('#editRowModal').modal('show');
    }


    $('#btnEditPMON').click(function() {
        ip = $('#editIP').val();
        comment = $('#editComment').val();
        prevComment = $('#hiddenEditComment').val();
        highValue = $('#editHighValue').val();
        prevHighValue = $('#hiddenEditHighValue').val();
        uploadDate = $("#uploadDate").val();

        if((prevComment != comment) || (prevHighValue != highValue)){
             params = {
                       "ip": ip,
                       "comment": comment,
                       "highValue": highValue,
                       "uploadDate": uploadDate
                       };
             $.ajax({
                  type: 'POST',
                  url: "{{ url_for('fh_pmon_bp.edit_pmon_row') }}?cache-bust=" + Date.now(),
                  data: params,
                  success: function(response) {
                        var flashMessage = document.getElementById("flash-message");
                        if (response.status == 'error') {
                             flashMessage.classList.add('alert-danger');
                             flashMessage.classList.remove('alert-success');
                        } else {
                             flashMessage.classList.add('alert-success');
                             flashMessage.classList.remove('alert-danger');

                             flashMessage.innerHTML = response.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
                             flashMessage.style.display = "block";
                             // Dismiss the message after 3 seconds
                             setTimeout(function() {
                                 flashMessage.style.display = "none";
                             }, 3000);
                             location.reload();
                        }

                        flashMessage.innerHTML = response.message + '<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>';
                        flashMessage.style.display = "block";
                        // Dismiss the message after 3 seconds
                        setTimeout(function() {
                            flashMessage.style.display = "none";
                        }, 3000);
                    },
                  error: function(xhr, status, error) {
                        console.log(xhr.responseText);
                        $('#flash-message').addClass('alert-danger').removeClass('alert-success').html('An error occurred. Please try again later.');
                    }
                });
        }
    });

     $("#pmonValueFilter").change(function(){
        pmon_table.ajax.reload();
    });

  });

  </script>
{% endblock %}


