<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Register</title>
        <link href="{{ url_for('static', filename='css/styles.css' )}}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-dark">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-7">
                                {% include 'alert.html' %}
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Créer Compte</h3></div>
                                    <div class="card-body">
                                        <form method="post" action="{{ url_for('user_bp.register') }}" id="formRegister">
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div id="prenom-error" class="error-message"></div>
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="prenom" name="prenom" type="text" placeholder="Entrer votre prenom" required/>
                                                        <label for="prenom">Prenom</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div id="nom-error" class="error-message"></div>
                                                    <div class="form-floating">
                                                        <input class="form-control" id="nom" name="nom" type="text" placeholder="Entrer votre nom" required/>
                                                        <label for="nom">Nom</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-floating mb-3">
                                                <div id="email-error" class="error-message"></div>
                                                <input class="form-control" id="email" name="email" type="email" placeholder="prenom.nom@orange.com" required/>
                                                <label for="email">Email</label>
                                            </div>
                                            <div class="row mb-3">
                                                <div class="col-md-6">
                                                    <div id="password-error" class="error-message"></div>
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="password" name="password" type="password" placeholder="Entrer un mot de passe" required/>
                                                        <label for="password">Mot de Passe</label>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div id="passwordConfirm-error" class="error-message"></div>
                                                    <div class="form-floating mb-3 mb-md-0">
                                                        <input class="form-control" id="passwordConfirm" name="passwordConfirm" type="password" placeholder="Confirmer le mot de passe" required/>
                                                        <label for="passwordConfirm">Confirmer le Mot de Passe</label>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="mt-4 mb-0">
                                                <div class="d-grid"><a id="btnRegister" class="btn btn-dark btn-block" href="#">Créer</a></div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="{{ url_for('user_bp.login') }}">Vous avez déjà un compte? Connecter</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Orange Tunisia 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
        <style>
            .error {
              border: 1px solid red;
            }

            .error-message {
              color: red;
              font-size: 12px;
              margin-top: 5px;
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
    </body>

 <script>

  function isValidEmail(email) {
     var emailRegex = /^[\w-]+(\.[\w-]+)*@([\w-]+\.)+[a-zA-Z]{2,7}$/;
     return emailRegex.test(email);
  }

  $(document).ready(function() {
        $('#btnRegister').click(function() {
                event.preventDefault();

                // verifier les champs vides
                var isValid = true;
                $("form").find("input[required]").each(function() {
                  if ($(this).val() === "") {
                    isValid = false;
                    $(this).addClass("error");
                    var fieldName = $(this).attr("name");
                    $("#" + fieldName + "-error").text("*");
                  } else {
                    $(this).removeClass("error");
                    var fieldName = $(this).attr("name");
                    $("#" + fieldName + "-error").text("");
                  }
                });

                 // validation email
                var email = $("#email").val();
                if (email !== "" && !isValidEmail(email)) {
                  isValid = false;
                  $("#email").addClass("error");
                  $("#email-error").text("email non valide");
                } else {
                  $("#email").removeClass("error");
                  $("#email-error").text("");
                }

                // validation password
                var password = $("#password").val();
                var passwordConfirm = $("#passwordConfirm").val();
                if (password !== passwordConfirm) {
                  isValid = false;
                  $("#password").addClass("error");
                  $("#passwordConfirm").addClass("error");
                  $("#passwordConfirm-error").text("mot de passe incorrect");
                } else {
                  $("#password").removeClass("error");
                  $("#passwordConfirm").removeClass("error");
                  $("#passwordConfirm-error").text("");
                }

                // Submit the form if valid
                if (isValid) {
                  $("form").submit();
                }
        });
  });

  </script>
</html>
