<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>Nouveau Mot de passe</title>
        <link href="{{ url_for('static', filename='css/styles.css' )}}" rel="stylesheet" />
        <script src="https://use.fontawesome.com/releases/v6.1.0/js/all.js" crossorigin="anonymous"></script>
    </head>
    <body class="bg-dark">
        <div id="layoutAuthentication">
            <div id="layoutAuthentication_content">
                <main>
                    <div class="container">
                        <div class="row justify-content-center">
                             {% include 'alert.html' %}
                            <div class="col-lg-5">
                                <div class="card shadow-lg border-0 rounded-lg mt-5">
                                    <div class="card-header"><h3 class="text-center font-weight-light my-4">Nouveau Mot de passe</h3></div>
                                    <div class="card-body">
                                        <form method="post" action="" id="formReset">
                                            <div class="form-floating mb-3">
                                                <div id="password-error" class="error-message"></div>
                                                <input class="form-control" id="password" name="password" type="password"
                                                       placeholder="Password" required/>
                                                <label for="password">Mot de Passe</label>
                                            </div>
                                             <div class="form-floating mb-3">
                                                <div id="confirm_password-error" class="error-message"></div>
                                                <input class="form-control" id="confirm_password" name="confirm_password"
                                                       type="password" placeholder="Confirm Password" required/>
                                                <label for="confirm_password">Confirmer le Mot de Passe</label>

                                                 <input type="hidden" name="code" id="code" value="{{ code }}">
                                            </div>
                                            <div class="d-flex align-items-center justify-content-between mt-4 mb-0">
                                                <a class="btn btn-dark" id="btnReset" href="#">Valider</a>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="card-footer text-center py-3">
                                        <div class="small"><a href="{{ url_for('user_bp.register') }}">Pas de compte?  Créez-en un!</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
            <div id="layoutAuthentication_footer">
                <footer class="py-4 bg-light mt-auto">
                    <div class="container-fluid px-4">
                        <div class="d-flex align-items-center justify-content-between small">
                            <div class="text-muted">Copyright &copy; Orange Tunisia 2023</div>
                            <div>
                                <a href="#">Privacy Policy</a>
                                &middot;
                                <a href="#">Terms &amp; Conditions</a>
                            </div>
                        </div>
                    </div>
                </footer>
            </div>
        </div>
         <style>
            .error {
              border: 1px solid red;
            }

            .error-message {
              color: red;
              font-size: 12px;
              margin-top: 5px;
            }
        </style>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
        <script type="text/javascript" charset="utf8" src="{{ url_for('static', filename='js/jquery-3.5.1.js')}}"></script>
        <script src="{{ url_for('static', filename='js/scripts.js')}}"></script>
    </body>

<script>

  $(document).ready(function() {
        $('#formReset').click(function() {
                event.preventDefault();

                // verifier les champs vides
                var isValid = true;
                $("form").find("input[required]").each(function() {
                  if ($(this).val() === "") {
                    isValid = false;
                    $(this).addClass("error");
                    var fieldName = $(this).attr("name");
                    $("#" + fieldName + "-error").text("champ obligatoire");
                  } else {
                    $(this).removeClass("error");
                    var fieldName = $(this).attr("name");
                    $("#" + fieldName + "-error").text("");
                  }
                });


                // validation password
                var password = $("#password").val();
                var passwordConfirm = $("#confirm_password").val();
                if (password !== passwordConfirm) {
                  isValid = false;
                  $("#password").addClass("error");
                  $("#confirm_password").addClass("error");
                  $("#confirm_password-error").text("mot de passe incorrect");
                } else {
                  $("#password").removeClass("error");
                  $("#confirm_password").removeClass("error");
                  $("#confirm_password-error").text("");
                }



                // Submit the form if valid
                if (isValid) {
                  $("form").submit();
                }
        });
  });

  </script>

</html>
