<!-- Navbar-->
<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light py-3">
    <div class="container-fluid justify-content-between">
    <!-- Left elements -->
    <div class="d-flex">
        <!-- Brand -->

    </div>
    <div class="d-flex">
        <!-- Brand -->



    </div>
    <!-- Left elements -->


    <ul class="navbar-nav flex-row">

        <!-- Search form -->
       <!-- Search form -->


        {% if current_user.is_authenticated  %}

            <li class="nav-item dropdown me-4 me-lg-1">
                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                     <i class="fas fa-user fa-fw" style="color:#ff7f00;"></i> {{ current_user.username }}
                </a>
                <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                    {% if current_user.role in ['USER_FH_RADIO','USER_FH' , 'ADMIN']  %}
                        <li><a class="dropdown-item" href="{{ url_for('radio_home_bp.home') }}">Reseau Radio Mobile</a></li>
                    {% endif  %}
                    {% if current_user.role in ['USER_FH_RADIO','USER_RADIO' ,'ADMIN']  %}
                        <li><a class="dropdown-item" href="{{ url_for('fh_home_bp.home') }}">Reseau FH</a></li>
                    {% endif  %}
                    {% if current_user.role == 'ADMIN'  %}
                        <li><a class="dropdown-item" href="{{ url_for('user_bp.users_page') }}">Utilisateurs</a></li>
                    {% endif  %}

<!--                    <li><a class="dropdown-item" href="{{ url_for('incident_bp.render_report') }}">rapport incident</a></li>-->
                    <li><hr class="dropdown-divider" /></li>
                    <li><a class="dropdown-item" href="{{ url_for('user_bp.logout') }}">Logout</a></li>

                </ul>
            </li>

        {% endif  %}

    </ul>
    <!-- Right elements -->
    </div>
</nav>
<!-- Navbar -->