{% if current_user.is_authenticated  %}

    <li class="nav-item dropdown me-3 me-lg-1">
        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
             <i class="fas fa-user fa-fw" style="color:#ff7f00;"></i> {{ current_user.username }}
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#!">Settings</a></li>
          {% if current_user.role in ['USER_FH_RADIO', 'ADMIN']  %}
            <li><a class="dropdown-item" href="{{ url_for('fh_home_bp.home') }}">Reseau FH</a></li>
          {% endif  %}
            <li><a class="dropdown-item" href="{{ url_for('incident_bp.render_report') }}">rapport incident</a></li>
            <li><hr class="dropdown-divider" /></li>
            <li><a class="dropdown-item" href="{{ url_for('user_bp.logout') }}">Logout</a></li>
        </ul>
    </li>

{% endif  %}